from http.server import SimpleHTTPRequestHandler, HTTPServer

PORT = 8888

class MyHandler(SimpleHTTPRequestHandler):
    def do_GET(self):
        self.send_response(200)
        self.end_headers()
        self.wfile.write(b"Hello from ftegan app!")

httpd = HTTPServer(("", PORT), MyHandler)
print(f"Serving on port {PORT}")
httpd.serve_forever()
